USERNAME_AUTH=YOUR_SHEETY_AUTH_USERNAME
PASSWORD_AUTH=YOUR_SHEETY_AUTH_PASSWORD
SHEETY_ENDPOINT=YOUR_SHEETY_ENDPOINT
YOUR_EMAIL=YOUR_EMAIL
EMAIL_PASSWORD=YOUR_EMAIL_PASSWORD
EMAIL_SMTP=YOUR_EMAIL_SMTP
RECEIVER_EMAIL=EMAIL_THAT_WILL_RECEIVE_THE_MESSAGES